#cheese-keeper-loading-message, #cheese-keeper-analysis {
	padding: 10px 15px;
}

#cheese-keeper-analysis * { box-sizing: border-box; }

#cheese-keeper-analysis ul { 
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%; 
}
#cheese-keeper-analysis ul li.header { font-weight: bold; }
#cheese-keeper-analysis ul li div { 
	display: inline-block;
	padding: 2px 10px 2px 0;
	width: 12%; 
}
#cheese-keeper-analysis ul li div.player-name,
#cheese-keeper-analysis ul li div.manager {
	width: 30%;
}

