---
env:
  jest: true

extends: airbnb-base

parserOptions:
  ecmaFeatures:
    impliedStrict: true
  ecmaVersion: 2018
  sourceType: module

rules:
  import/no-extraneous-dependencies:
    - error
    - devDependencies: ["**/*.test.js", "deploy/**"]
  max-len: [error, { code: 80 }]
  # allows short object declarations to be single-line even with many props.
  object-curly-newline: [error, { ObjectPattern: { multiline: true }}]
